:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  text-align: center;
  width: 100%;
  max-width: 600px;
  min-width: 350px
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../../../assets/images/background1.jpg);
  background-size: cover;
}
